html, body {
    @include stretch;
}
    html {
        @include opacity(0);
    }
    body {
        background: #000;
    }
    .js {
        @include opacity(1);
        @include single-transition(opacity, 3s);
    }

.wrapper {
    z-index: 1;
    @include stretch;
}

.container, .container-fluid, .social-media {
    z-index: 2;
}

/*
 * Modifiers
 */
.text--dark-emboss {
    text-shadow: 0 1px 2px #000;
}
.btn--flat {
    @include border-radius(0);
}

.main-wrapper {
    background: image-url('backgrounds/bg_pattern.png') repeat;
    padding: 0 20px;
}
    .main {
        padding: 30px 0 20px;
    }