@import 'vendor/font-awesome';

/*@font-face {
  font-family: "Source Sans";
  src: font-url("SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Source Sans";
  src: font-url("SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: font-url("SourceSansPro-Semibold.otf");
  font-weight: 600;
}*/