.sidebar {
    ul, ol { list-style: none; margin: 0 }

    > .widget {
        margin-bottom: golden-ratio(1em, 2);
        > ul {
            font-size: .9em;
            padding: .5em;
        }
    }

        .widget-title {
            @include single-transition(box-shadow);
            background: darken(#FFF, 10%);
            border: 1px solid darken(#FFF, 30%);
            box-shadow: 0 2px 5px 0 darken(#FFF, 20%);
            padding: .5em;
        }

        .widget_search {
            box-shadow: 0 2px 5px 0 darken(#FFF, 20%);
            input {
                border-color: lighten($primary-bg, 40%);
                font-family: 'Francois One', sans-serif;
            }
            form, input, button {
                margin: 0;
            }
        }

            .widget-title, .widget_search {
                &:hover {
                    box-shadow: 0 2px 6px 0 darken(#FFF, 30%);
                }
            }
}